/* line 3, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/_global.scss */
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: black;
}

/* line 12, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.page-header__wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

/* line 9, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.main-nav {
  margin-bottom: 10px;
}

/* line 12, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.page-header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 17, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.main-nav__list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* line 23, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 27, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.site-list__item a {
  text-decoration: none;
  color: #a7a7a7;
  text-transform: uppercase;
}

/* line 31, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header.scss */
.site-list__item a:hover {
  color: black;
}

@media (min-width: 768px) {
  /* line 2, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header__tablet.scss */
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
  }
  /* line 7, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header__tablet.scss */
  .page-header__logo {
    margin: 0;
  }
  /* line 10, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header__tablet.scss */
  .main-nav {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  /* line 2, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-header/_page-header__desktop.scss */
  .page-header__wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
  }
}

/* line 1, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.section-cloud {
  width: 100%;
  height: 350px;
  background-color: #c7cdc9;
  background-image: url("../pictures/cloud.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 11, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.section-cloud__wrapper {
  padding: 0 10px;
  border-top: 1px solid white;
}

/* line 15, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.section-cloud p {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 25px;
}

/* line 26, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.section-cloud p:nth-child(2) {
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
  color: #5a5a5a;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 37, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works {
  margin-bottom: 70px;
}

/* line 40, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works__represent {
  padding: 0 10px;
}

/* line 43, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works__title, .team__title, .contact__title {
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 45px;
  margin-bottom: 30px;
  position: relative;
}

/* line 55, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works__title::after, .team__title::after, .contact__title::after {
  content: "";
  width: 180px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  bottom: -16px;
}

/* line 66, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works__text, .team__text {
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
  color: #5a5a5a;
}

/* line 77, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team__text {
  padding: 0 10px;
}

/* line 80, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.works__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1660px;
}

/* line 89, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team {
  background-color: #f3f3f3;
  border-top: 1px solid #f3f3f3;
}

/* line 94, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 900px;
  padding-bottom: 50px;
}

/* line 103, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item {
  width: 210px;
  height: 210px;
  background-color: white;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.2);
  position: relative;
}

/* line 111, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div img:nth-child(3) {
  position: absolute;
  top: 176px;
  left: 78px;
  opacity: 0.7;
}

/* line 117, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div img:nth-child(3):hover {
  cursor: pointer;
  opacity: 1;
}

/* line 121, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div img:nth-child(4) {
  position: absolute;
  top: 173px;
  left: 115px;
  opacity: 0.7;
}

/* line 127, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div img:nth-child(4):hover {
  cursor: pointer;
  opacity: 1;
}

/* line 132, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item img {
  position: absolute;
  top: 19px;
  left: 59px;
}

/* line 137, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 141, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div p:nth-child(2) {
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* line 149, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div p:nth-child(1) {
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: bold;
}

/* line 157, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.team-cards__item div {
  margin-top: 105px;
}

/* line 160, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.contact {
  margin-bottom: 70px;
}

/* line 163, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.contact__wrapper {
  display: flex;
  flex-direction: column;
}

/* line 168, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.map {
  margin: 0 auto;
  margin-bottom: 60px;
  height: 320px;
}

/* line 174, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.map p, .feedback__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 600;
  @icnlude reset-list;
  color: #5a5a5a;
  text-align: center;
}

/* line 185, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.map__main {
  border-style: solid;
  border-width: 6px;
  border-color: white;
  background-color: #e7e7e7;
  box-shadow: 0px 2px 5px 0px rgba(0, 1, 1, 0.25);
  width: 320px;
  height: 320px;
  box-sizing: border-box;
}

/* line 196, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.feedback {
  width: 320px;
  margin: 0 auto;
}

/* line 200, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.feedback-form {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 207, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.feedback-form__message {
  display: block;
  width: 320px;
  height: 200px;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #5f5f5f;
  border-width: 1px;
  resize: none;
  padding: 30px 0 0 20px;
  box-sizing: border-box;
}

/* line 223, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.feedback-form__email {
  display: block;
  width: 320px;
  height: 45px;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 2px 0 0 20px;
  color: #5f5f5f;
  box-sizing: border-box;
}

/* line 237, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main.scss */
.feedback-form__send {
  display: block;
  width: 320px;
  height: 45px;
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 400;
  background-color: #6995a9;
  color: white;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  /* line 2, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .section-cloud {
    height: 500px;
  }
  /* line 5, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .section-cloud p {
    font-size: 40px;
    line-height: 50px;
    margin-top: 130px;
  }
  /* line 10, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .map {
    margin: 0;
  }
  /* line 13, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .map p, .feedback__text {
    text-align: left;
  }
  /* line 16, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .contact__wrapper {
    width: 730px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
  }
}

@media (min-width: 620px) {
  /* line 26, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .works__items {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 580px;
    height: 1000px;
    justify-content: space-between;
  }
  /* line 34, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .team-cards {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 460px;
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  /* line 44, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .works__items {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 860px;
    height: 580px;
    justify-content: space-between;
  }
  /* line 52, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__tablet.scss */
  .team-cards {
    flex-direction: row;
    justify-content: space-ar;
    flex-wrap: wrap;
    height: 210px;
    width: 860px;
  }
}

@media (min-width: 1200px) {
  /* line 2, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__desktop.scss */
  .works__items {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    height: 580px;
    justify-content: space-between;
  }
  /* line 10, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-main/_page-main__desktop.scss */
  .team-cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
  }
}

/* line 1, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer.scss */
.page-footer {
  background-color: #4f4f4f;
  height: 100px;
}

/* line 5, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer.scss */
.page-footer__wrapper {
  display: flex;
  padding-top: 17px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

/* line 12, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer.scss */
.page-footer__adress, .page-footer__copyright {
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #6e6e6e;
}

/* line 21, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer.scss */
.page-footer__adress span {
  color: #949494;
}

@media (min-width: 768px) {
  /* line 2, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer__tablet.scss */
  .page-footer {
    height: 80px;
  }
  /* line 5, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer__tablet.scss */
  .page-footer__wrapper {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 940px) {
  /* line 15, D:/FRONTEND/WorkPlace/Finished Projects/Team for Web/scss/blocks/page-footer/_page-footer__tablet.scss */
  .page-footer__wrapper {
    width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */