@media (min-width: $tablet-width) {
    .page-header__wrapper {
        flex-direction: row;
        justify-content: space-around;
        min-height: 100px;
    }
    .page-header__logo {
        margin: 0;
    }
    .main-nav {
        margin: 0;
    }
}